<?xml version="1.0" encoding="utf-8"?><!--
  ~ /******************************************************************
  ~   This file is part of PROTO-SWITCH Light controller project.
  ~
  ~   Copyright (C) 2016 ViP-PROTO Association, http://vip-proto.com
  ~   Predrag Milutinovic <pedjolino@gmail.com>
  ~
  ~   This program is free software; you can redistribute it and/or
  ~   modify it under the terms of the GNU General Public License as
  ~   published by the Free Software Foundation; either version 2 of the
  ~   License, or (at your option) any later version.
  ~
  ~   This program is distributed in the hope that it will be useful, but
  ~   WITHOUT ANY WARRANTY; without even the implied warranty of
  ~   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  ~   General Public License for more details.
  ~
  ~   You should have received a copy of the GNU General Public License
  ~   along with this program; if not, write to the Free Software
  ~   Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA
  ~   02111-1307, USA.
  ~
  ~   The GNU General Public License is contained in the file COPYING.
  ~ */
  ~
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.proto.led.controller">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- <activity -->
        <!-- android:name=".DirectControllActivity" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:theme="@style/Theme.AppCompat.Light.DarkActionBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name="org.proto.led.discovery.DiscoveryActivity"
            android:label="@string/title_activity_discovery"
            android:parentActivityName=".DirectControllActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.proto.led.controller.DirectControllActivity" />
        </activity>

        <service
            android:name="org.proto.led.discovery.DiscoveryService"
            android:exported="false" />

        <activity
            android:name="org.proto.led.lightlist.LightsListActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.proto.led.themelist.ThemeActivity"
            android:label="@string/title_activity_theme"
            android:parentActivityName="org.proto.led.lightlist.LightsListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.proto.led.lightlist.LightsListActivity" />
        </activity>

        <service
            android:name="org.proto.led.network.WiFiControllerService"
            android:enabled="true"
            android:exported="false"></service>
    </application>

</manifest>